<html>

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                {% for key, value in data.items() %}
            {% if value is string %}
            ['{{ key }}', '{{ value }}'],
            {% else %}
            ['{{ key }}', {{ value }}],
            {% endif %}
            {% endfor %}
        ]);

            var options = {
                title: '',
                is3D: true,
                pieSliceText: 'value',
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        }
    </script>
</head>


<body>
<div style="text-align:center">
<h1>
    Please enter your CMT email address to see how many points you accumulated
</h1>
<form method="post">
    Email: <input name="email" value={% if email %}{{ email }}{% else %}{% endif %}>
    <br/><br/>
    <button type="submit">Submit</button>
</form>
{% if show_output %}
    {% if valid_user %}
        <label>You have {{score}}/{{requirement}} points</label>
        <div id="piechart_3d" style="width: 900px; height: 500px; margin: 0 auto;"></div>
    {% else %}
        <label>User does not exists</label>
    {% endif %}
{% else %}
{% endif %}
</div>
</body>
</html>

